<section>
    <h2>Create New Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title" id="dashboard-post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-url" id="dashboard-post-link">Link</label>
            <input id="post-url" name="post-url" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

{{!-- displays all the posts from that particular user --}}
{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{!-- post infor partial --}}
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>